<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Burger is Life</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src=""></script>
</head>

<body>
  <h1>Here's the Burgers</h1>
  <h2>Eat d'Burgers</h2>
  <h3>Burger iz Life</h3>
  <h4>Can haz cheezeburger?</h4>
  <h5>Not an app about kats!</h5>
  <h6>mmm... cat buuuurrrggeerr</h6>
  {{{body}}}
</body>

</html>