<header class="jumbotron text-center pb-1 pt-2">

  <h1 class="display-1">Here's the Burgers</h1>
  <h2 class="display-3">Eat d'Burgers</h2>
  <h3>Burger iz Life</h3>
  <h4>Can haz cheezeburger?</h4>
  <h5>Not an app about kats!</h5>
  <h6>mmm... cat buuuurrrggeerr</h6>
</header>

<div class="main-container">

  <main class="container">
    <div class="row">
      <div class="col-8">
        <h3 class="display-4 text-center">The Delicacies Remaining...</h3>
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <!--Form-->
            <div>
              <div class="container">
                <div class="row">
                  <div class="offset-0">
                  </div>

                  <div class="col-6 px-0 text-center">
                    <h2>Add a Delicacy</h2>
                    <form action="/api/burger" method="POST" class="create-form">
                      <div class="form-group">
                        <label for="burger">Burger Name: </label>
                        <input type="text" id="burger" name="burgerName" class="bg-dark text-primary"
                          autofocus>
                      </div>
                  </div>

                  <div class="form-group col-6 px-0 text-center align-self-center">
                    <label for="devoured">Devoured?</label><br>

                    <input type="radio" name="devouredState" value="0" checked>Scrumptiously
                    Available<br>

                    <input type="radio" name="devouredState" value="1">Tantalizingly
                    Unavailable<br>
                  </div>
                </div>
                <div class="row ">
                  <div class="col-6 text-center">

                    <button type="submit" href="#home" class="btn-success text-dark">Add
                      Burger</button>
                    <span id="home"></span>
                  </div>
                  <div class="col-6"></div>
                  </form>

                </div>
              </div>

            </div>
            <!--Burger Creation Place-->
            <ul class="col-10 pr-0 mt-4 alert rounded">
              <div class="container">
                <div class="row bg-dark rounded py-2 justify-space-between"
                  style="min-height: 100px;">
                  {{#each burger}}
                    {{#unless devoured}}
                      {{> burgers/burger-block devoured=false}}
                    {{/unless}}
                  {{/each}}
                </div>
              </div>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-4">
        <h3 class="display-4 text-center">Delicacies Lost</h3>
        <div class="container p-0">
            <ul class="row p-0">
              {{#each burger}}
                {{#if devoured}}
                  {{> burgers/burger-done-block devoured=true}}
                {{/if}}
              {{/each}}
            </ul>

        </div>
      </div>

    </div>
  </main>
</div>
