<div class="container">
  <div class="row">
    <li class="col-6">
      <p class="mb-0">
        {{burger_name}}
      </p>

      <button class="change-state btn-mute mb-2" data-id="{{id}}" data-newState="{{devoured}}">Eat
        Me</button>

    </li>
  </div>
</div>