
    <ul class="col-4 bg-default mt-2 mb-3">
      <p class="mb-0">
        {{burger_name}}
      </p>

      <button class="change-state btn-success mb-2 rounded text-dark" data-id="{{id}}" data-newState="{{devoured}}">Eat
        Me</button>

    </ul>
